<div class="edit_form">
  <% form_for(@task, :url => project_task_path(@task.project, @task)) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td width="50%" style="padding-right: 5em">
          <p>
            <%= f.label :project_id, "Projekt" %><br />
            <%= f.hidden_field :project_id %>
            <%= link_to @task.project.name, @task.project %>
          </p>
          <p>
            <%= f.label :parent_id, "Übergeordnete Aufgabe" %><br />
            <%= collection_select(:task, :parent_id , @tasks, :id, :name) %>
          </p>
          <p>
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.label :status %><br />
            <%= collection_select(:task, :status , Status.find(:all), :percentage, :to_s) %>
          </p>
          <p>
            <%= f.label :due_date, "Fällig am" %><br />
            <%= f.date_select :due_date, :order => [:day, :month, :year], :use_month_names => german_months %>
          </p>
        </td>
          
        <td>
          <p>
            <fieldset>
              <legend>Zuständige Mitarbeiter</legend>  
              <% @task.project.users.sort_by(&:name).each do |user| %>
                <div>
                  <%= check_box_tag "task[user_ids][]", user.id, @task.users.include?(user) %>
                  <%= user.name %>
                </div>
              <% end %>
          	</fieldset>
          </p>
          <p>
            <%= f.label :comment, "Kommentar / Beschreibung" %><br />
            <%= f.text_area :comment, :rows => 13 %>
          </p>
        </td>
      </tr>
    </table>
    

    <p>
      <%= icon_tag 'disk' %> <%= f.submit "Speichern" %>
    </p>
  <% end %>
</div>