<%= render :partial => "tasks/header", :locals => {:project => @project} -%>
<div class="content_table">
  <table>
    <tr>
      <th>Name</th>
      <th><%= icon_tag 'layout_content' %> Projekt</th>
      <th><%= icon_tag 'note' %> Kommentar / Beschreibung</th>
      <th width="130px"><%= icon_tag 'time' %> Arbeitszeit</th>
      <th width="80px"><%= icon_tag 'tick' %> Status</th>
      <th><%= icon_tag 'clock_red' %> Fällig am</th>
    </tr>

  <% for task in @project.tasks %>
  <% 
    amount_children = task.children.size
    children_info = amount_children > 0 ? "(#{amount_children})" : "" 
  %>
    <tr id="<%= "task_#{task.id}" %>">
      <td><%= link_to h("#{task.name} #{children_info}"), project_task_path(task.project, task) %></td>
      <td><%= link_to h(task.project.name), task.project %></td>
      <td><%=h task.comment %></td>
      <td style="text-align:center"><%= task.total_worktime %> h (<%= task.worktimes.size %>)</td>
      <td style="text-align:center"><%=h Status.find(task.status) %></td>
      <td><%=h task.due_date.german_time %></td>
      <td style="text-align:center"><%= link_to icon_tag('table_edit'), edit_project_task_path(task.project, task) %></td>
      <td style="text-align:center">
        <%= link_to_remote icon_tag('delete'),    
            :url => project_task_path(task.project, task), 
            :confirm => "Sind Sie sicher, dass Sie die Aufgabe '#{task.name}' löschen wollen?", 
            :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
