<div class="subtitle">
  <h2>Aufgaben für '<%= @project.name %>'</h2>
</div>

<%= render :partial => "tag_bar" %>
<%= render :partial => "action_links" %>

<%= edit_form_container_for(:task, :add) %>

<%= render :partial => "tasks_list", :locals => {:tasks => @tasks} %>