<h1>Aufgaben</h1>

<div class="sub_menu">
  <%= link_to 'Neue Aufgabe anlegen', new_task_path %>
</div>

<div class="content_table">
  <table>
    <tr>
      <th>Projekt</th>
      <th>Vater</th>
      <th>Name</th>
      <th>Kommentar / Beschreibung</th>
      <th>Status</th>
      <th>Fällig am</th>
    </tr>

  <% for task in @tasks %>
    <tr>
      <td><%= link_to h(task.project.name), task.project %></td>
      <td><%= task.parent ? (link_to h(task.parent.name), task.parent) : "N/A" %></td>
      <td><%= link_to h(task.name), task %></td>
      <td><%=h task.comment %></td>
      <td><%=h Status.find(task.status) %></td>
      <td><%=h task.due_date %></td>
      <td><%= link_to 'Bearbeiten', edit_task_path(task) %></td>
      <td><%= link_to 'L&ouml;schen', task, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>