<div class="subtitle">
  <h2>Aufgaben für '<%= @project.name %>'</h2>
</div>

<%= render :partial => "tag_bar" %>

<div class="action_links">
  <%= link_to_remote "#{icon_tag('table_add')} Neue Aufgabe",
    :url => new_project_task_path(:project_id => @project.id),
    :method => :get, 
    :html => {:id => "add_task_link", :title => "Neue Aufgabe eintragen", :class => "action_link" } %>
</div>

<%= edit_form_container_for(:task, :add) %>

<%= render :partial => "tasks_list", :locals => {:tasks => @tasks} %>