<div class="title">
  <h1>Aufgabe: <%= @task.name %></h1>
</div>

<p>
  <b>Projekt:</b>
  <%= link_to h(@task.project.name), @task.project %>
</p>
<% if @task.parent %>
  <p>
    <b>Übergeordnete Aufgabe:</b>
    <%= link_to h(@task.parent.name), project_task_path(@task.parent.project, @task.parent) %>
  </p>
<% end %>
<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Status:</b>
  <%= Status.find(@task.status) %>
</p>

<p>
  <b>F&auml;llig am:</b>
  <%=h @task.due_date %>
</p>

<p>
  <b>Kommentar / Beschreibung:</b>
  <%=h @task.comment %>
</p>

<% if @task.children.size > 0 %>
  <p>
    <b>Untergeordnete Aufgaben:</b><br/>
    <%= @task.children.collect{|t| link_to h(t.name), project_task_path(t.project, t)}.join("<br/>") %>
  </p>
<% end %>

<% if @task.worktimes.size > 0 %>
  <p>
    <b>Arbeitszeiten:</b><br/>
    <%= @task.worktimes.sort_by{|wt| wt.user.name}.collect do |wt| 
          link_to "#{wt.user.name}: #{wt.comment.words(3)}", wt
        end.join("<br/>") 
    %>
  </p>
<% end %>

<%= link_to 'Bearbeiten', edit_project_task_path(@task.project, @task) %> |
<%= link_to 'Zur&uuml;ck', project_tasks_path %>
