<div class="title">
  <h1>Aufgabe: <%= @task.name %></h1>
</div>

<p>
  <b>Project:</b>
  <%= link_to h(@task.project.name), @task.project %>
</p>
<% if @task.parent %>
  <p>
    <b>Parent:</b>
    <%= link_to h(@task.parent.name), @task.parent %>
  </p>
<% end %>
<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Comment:</b>
  <%=h @task.comment %>
</p>

<p>
  <b>Status:</b>
  <%= Status.find(@task.status) %>
</p>

<p>
  <b>Due date:</b>
  <%=h @task.due_date %>
</p>


<%= link_to 'Bearbeiten', edit_task_path(@task) %> |
<%= link_to 'Zur&uuml;ck', tasks_path %>
