<p>
  <b>Project:</b>
  <%=h @task.project_id %>
</p>
<% if @task.parent %>
  <p>
    <b>Parent:</b>
    <%= link_to h(@task.parent.name), @task.parent %>
  </p>
<% end %>
<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Comment:</b>
  <%=h @task.comment %>
</p>

<p>
  <b>Status:</b>
  <%= Status.find(@task.status) %>
</p>

<p>
  <b>Due date:</b>
  <%=h @task.due_date %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
