<div class="title">
  <h1><%= t('user.edit_profile') -%></h1>
</div>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

<div class="span-8">  
  <p>
    <%= f.label :language, t('user.language') %><br />
    <%= f.select :language, [['English', 'en'], ['Deutsch', 'de']] %>
  </p>
  <p>
    <%= f.label :login, t('user.login') %><br />
    <%= f.text_field :login %>
  </p>
  <% if current_user.is_admin %>
    <p>
      <%= check_box :user, :is_admin %>
      <%= f.label :is_admin, "Admin?" %><br />
    </p>
  <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :birthdate, t('user.birthdate') %><br />
    <%= f.date_select :birthdate, :order => [:day, :month, :year], :use_month_names => german_months,
                      :start_year => 1900, :end_year => Time.now.year, :default => Date.civil(1900,1,1) %>
  </p>
</div>
<div class="span-8 last">
  <p>
    <%= f.label :street, t('customer.street') %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :house_nr, t('customer.house_nr') %><br />
    <%= f.text_field :house_nr %>
  </p>
  <p>
    <%= f.label :zip_code, t('customer.zip_code') %><br />
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.label :city, t('customer.city') %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :telephone, t('customer.telephone') %><br />
    <%= f.text_field :telephone %>
  </p>
  <p>
    <%= f.label :icq_im, "ICQ" %><br />
    <%= f.text_field :icq_im %>
  </p>
  <p>
    <%= f.label :jabber, "Jabber" %><br />
    <%= f.text_field :jabber %>
  </p>
</div>
<div class ="span-16">
  <p>
    <%= f.label :comment, t('words.comment') %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= label_tag 'password', t('words.password') %><br/>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= label_tag 'password_confirmation', t('words.password_confirmation') %><br/>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= icon_tag 'disk' %> <%= f.submit t('words.save') %>
  </p>
</div>
<% end %>
