<div class="title">
  <h1>Mitarbeiter</h1>
</div>

<div class="submenu">
  <%= link_to "Neuen Mitarbeiter eintragen", new_user_path %>
</div>

<div class="content_table">
  <table class="profile_table">
    <th>Name</th>
    <th><%= icon_tag 'email' %> Email</th>
    <th><%= icon_tag 'user_red' %> Admin?</th>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to h(user.name), user %></td>
        <td><%= mail_to h(user.email), user.email %></td>
        <td><%= user.is_admin ? icon_tag('tick') : icon_tag('cancel') %></td>
      </tr>
    <% end %>
  </table>
</div>
