<div class="title">
  <h1><%= t('words.employees') -%></h1>
</div>

<div class="submenu">
  <% if current_user.is_admin %>
    <%= link_to "#{icon_tag('user_add')} #{t('user.add')}",
                new_user_path,
                :class => "action_link"
    %>
  <% end %>
</div>

<div class="content_table">
  <table class="profile_table">
    <th>Name</th>
    <th><%= icon_tag 'email' %> Email</th>
    <th><%= icon_tag 'user_red' %> Admin?</th>
    <% @users.each do |user| %>
      <tr id="<%= "user_#{user.id}" %>">
        <td><%= link_to h(user.name), user %></td>
        <td><%= mail_to h(user.email), user.email %></td>
        <td><%= user.is_admin ? icon_tag('tick') : icon_tag('cross') %></td>
      <% if current_user.can_edit?(user) %>
        <td><%= link_to icon_tag('user_edit'), edit_user_path(user) %></td>
      <% end %>
       <% if current_user.is_admin %>
         <td>
         <%= link_to_remote icon_tag('delete'), 
             :url => user_path(user), 
             :confirm => "Sind Sie sicher, dass der Mitarbeiter '#{user.name}' gelöscht werden soll?",
             :method => :delete %>
         </td>
       <% end %>
      </tr>
    <% end %>
  </table>
</div>
