<div class="data_form">
  <% form_for(@customer) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td width="50%">
          <p>
             <%= f.label :name%><br />
             <%= f.text_field :name, :class => "data_form" %>
           </p>
           <p>
             <%= f.label :street, "Straße" %><br />
             <%= f.text_field :street %>
           </p>
           <p>
             <%= f.label :house_nr, "Hausnr." %><br />
             <%= f.text_field :house_nr %>
           </p>
           <p>
             <%= f.label :zip_code, "PLZ" %><br />
             <%= f.text_field :zip_code %>
           </p>
           <p>
             <%= f.label :city, "Stadt" %><br />
             <%= f.text_field :city %>
           </p>
           <p>
              <%= f.label :telephone, "Tel." %><br />
              <%= f.text_field :telephone %>
            </p>
            <p>
              <%= f.label :email %><br />
              <%= f.text_field :email %>
            </p>
             <p>
               <%= f.label :contact, "Kontaktperson" %><br />
               <%= f.text_field :contact %>
             </p>
        </td>
        <td valign="top">
           <p>
             <%= f.label :comment, "Kommentar / Beschreibung" %><br />
             <%= f.text_area :comment, :rows => 20, :cols => 40 %>
           </p>
        </td>
      <tr>
    </table>
    <p>
      <%= icon_tag 'disk' %> <%= f.submit "Speichern" %>
    </p>
  <% end %>
</div>
