<div class="content_table">
  <table>
    <tr>
      <th><%= t('words.name') -%></th>
      <th><%= icon_tag 'user_suit' %> <%= t('customer.contact') -%></th>
      <th><%= icon_tag 'email' %> Email</th>
      <th><%= icon_tag 'book_open' %> <%= t('customer.adress') -%></th>
      <th><%= icon_tag 'telephone' %> <%= t('customer.telephone') -%></th>
      <th><%= icon_tag 'layout_content' %> <%= t('words.projects') -%></th>
    </tr>

  <% for customer in @customers %>
    <tr id="<%= "customer_#{customer.id}" %>">
      <td><%= link_to h(customer.name), customer %></td>
      <td><%=h customer.contact %></td>
      <td><%= mail_to h(customer.email), customer.email %></td>
      <td>
        <%=h customer.street %> <%=h customer.house_nr %><br/>
        <%=h customer.zip_code %> <%=h customer.city %>
      </td>
      <td><%=h customer.telephone %></td>
      <td><%= customer.projects.collect{|p| link_to h(p.name), p}.join(",<br>") %></td>

      <% if current_user.is_admin? -%>
	<td><%= link_to icon_tag('user_edit'), edit_customer_path(customer) %></td>
	<td><%= link_to_remote icon_tag('delete'),
		:url => customer_path(customer),
		:confirm => "#{t('customer.delete_question')} \n '#{customer.name}'",
		:method => :delete %></td>
      <% end %>

    </tr>
  <% end %>
  </table>
</div>
