<div class="title">
  <h1>
    <%= t('words.customer') -%>: <%= @customer.name %>
    <% if current_user.is_admin? %>
      <%= link_to icon_tag('user_edit'), edit_customer_path(@customer) %>
      <%= link_to icon_tag('delete'), @customer, :confirm => "#{t('customer.delete_question')} \n '#{@customer.name}'", :method => :delete %>
    <% end %>
  </h1>
</div>
<p>
  <b><%= t('words.name') -%>:</b>
  <%=h @customer.name %>
</p>

<p>
  <b><%= t('customer.street') -%>:</b>
  <%=h @customer.street %>
</p>

<p>
  <b><%= t('customer.house_nr') -%>:</b>
  <%=h @customer.house_nr %>
</p>

<p>
  <b><%= t('customer.zip_code') -%>:</b>
  <%=h @customer.zip_code %>
</p>

<p>
  <b><%= t('customer.city') -%>:</b>
  <%=h @customer.city %>
</p>

<p>
  <b><%= t('customer.telephone') -%>:</b>
  <%=h @customer.telephone %>
</p>

<p>
  <b>Email:</b>
  <%=h @customer.email %>
</p>

<p>
  <b><%= t('customer.contact') -%>:</b>
  <%=h @customer.contact %>
</p>

<p>
  <b><%= t('words.comment') -%>:</b>
  <%=h @customer.comment %>
</p>

<p>
  <b><%= t('words.projects') -%> (<%= @customer.projects.size %>):</b>
  <%= @customer.projects.collect{|p| (link_to p.name, p) }.join(", ") %>
</p>

<%= link_to t('words.back'), :back %>
