<div class="title">
  <h1>Kunde: <%= @customer.name %>
</div>
<p>
  <b>Name:</b>
  <%=h @customer.name %>
</p>

<p>
  <b>Street:</b>
  <%=h @customer.street %>
</p>

<p>
  <b>House nr:</b>
  <%=h @customer.house_nr %>
</p>

<p>
  <b>Zip code:</b>
  <%=h @customer.zip_code %>
</p>

<p>
  <b>City:</b>
  <%=h @customer.city %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @customer.telephone %>
</p>

<p>
  <b>Email:</b>
  <%=h @customer.email %>
</p>

<p>
  <b>Contact:</b>
  <%=h @customer.contact %>
</p>

<p>
  <b>Comment:</b>
  <%=h @customer.comment %>
</p>

<p>
  <b>Projekte (<%= @customer.projects.size %>):</b>
  <%= @customer.projects.collect{|p| (link_to p.name, p) }.join(", ") %>
</p>


<%= link_to 'Bearbeiten', edit_customer_path(@customer) %> |
<%= link_to 'Zur&uuml;ck', :back %>
