<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :customer_id, "Kunde" %><br />
    <%= collection_select(:project, :customer_id , @customers, :id, :name) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :due_date, "Fällig am" %><br />
    <%= f.date_select :due_date, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:day, :month, :year], :use_month_names => german_months %>
  </p>
  <p>
    <%= f.label :finished, "Projekt beendet?" %><br />
    <%= f.check_box :finished %>
  </p>
  <p>
    <%= icon_tag 'disk' %> <%= f.submit "Speichern" %>
  </p>
<% end %>
