<div class="content_table">
  <table>
    <tr>
      <th>Name</th>
      <th><%= icon_tag 'user_suit' %> Kunde</th>
      <th><%= icon_tag 'clock_red' %> Fällig am</th>
      <th><%= icon_tag 'tick' %> Beendet?</th>
      <th><%= icon_tag 'table' %> Aufgaben</th>
    </tr>

  <% for project in @projects %>
    <tr>
      <td><%= link_to h(project.name), project %></td>
      <td><%= link_to h(project.customer.name), project.customer %></td>
      <td><%=h project.due_date %></td>
      <td style="text-align:center"><%= project.finished ? icon_tag('tick') : icon_tag('cross') %></td>
      <td><%= project.tasks.collect{|t| link_to h(t.name), project_task_path(t.project, t)}.join(",<br>") %></td>
      <td style="text-align:center"><%= link_to icon_tag('layout_edit'), edit_project_path(project) %></td>
      <td style="text-align:center"><%= link_to icon_tag('delete'), project, :confirm => "Sind Sie sicher, dass Sie das Projekt '#{project.name}' löschen wollen?", :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
