<div class="content_table">
  <table>
    <tr>
      <th><%= t('words.name') -%></th>
      <th><%= icon_tag 'user_suit' %> <%= t('words.customer') -%></th>
      <th><%= icon_tag 'clock_red' %> <%= t('words.due_on') -%></th>
      <th><%= icon_tag 'tick' %> <%= t('project.is_finished') -%></th>
      <th><%= icon_tag 'table' %> <%= t('words.tasks') -%></th>
    </tr>

  <% for project in @projects %>
    <tr id="<%= "project_#{project.id}" %>">
      <td><%= link_to h(project.name), project %></td>
      <td><%= link_to h(project.customer.name), project.customer %></td>
      <td><%=h project.due_date.german_time %></td>
      <td style="text-align:center"><%= project.finished ? icon_tag('tick') : icon_tag('cross') %></td>
      <td><%= project.tasks.collect{|t| link_to h(t.name), project_task_path(t.project, t)}.join(",<br>") %></td>
      <td style="text-align:center"><%= link_to icon_tag('layout_edit'), edit_project_path(project) %></td>
      <td style="text-align:center">
        <%= link_to_remote icon_tag('delete'),
            :url => project_path(project), 
            :confirm => "#{t('project.delete_question')} \n '#{project.name}'", 
            :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
