<h1>Projekte</h1>

<div class="sub_menu">
  <%= link_to 'Neues Projekt anlegen', new_project_path %>
</div>

<div class="content_table">
  <table>
    <tr>
      <th>Name</th>
      <th><%= icon_tag 'user_suit' %> Kunde</th>
      <th><%= icon_tag 'clock_red' %> Fällig am</th>
      <th><%= icon_tag 'tick' %> Beendet?</th>
      <th><%= icon_tag 'table' %> Aufgaben</th>
    </tr>

  <% for project in @projects %>
    <tr>
      <td><%= link_to h(project.name), project %></td>
      <td><%= link_to h(project.customer.name), project.customer %></td>
      <td><%=h project.due_date %></td>
      <td><%=h project.finished %></td>
      <td><%= project.tasks.collect{|t| link_to h(t.name), t}.join(",<br>") %></td>
      <td><%= link_to 'Bearbeiten', edit_project_path(project) %></td>
      <td><%= link_to 'L&ouml;schen', project, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
