<h1>New project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :customer_id, "Kunde" %><br />
    <%= collection_select(:project, :customer_id , @customers, :id, :name) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :due_date, "Fällig am" %><br />
    <%= f.date_select :due_date %>
  </p>
  <p>
    <%= f.label :finished, "Projekt beendet?" %><br />
    <%= f.check_box :finished %>
  </p>
  <p>
    <%= f.submit "Speichern" %>
  </p>
<% end %>

<%= link_to 'Zur&uuml;ck', projects_path %>
