<div class="title">
  <h1>Projekt: <%= h @project.name %></h1>
</div>

<p>
  <b>Customer:</b>
  <%= link_to @project.customer.name, @project.customer %>
</p>

<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Due date:</b>
  <%=h @project.due_date %>
</p>

<p>
  <b>Finished:</b>
  <%=h @project.finished %>
</p>

<p>
  <b>Aufgaben:</b>
  <br />
  <%= @project.tasks.collect{|t| link_to h(t.name), t}.join("<br/>") %>
</p>


<%= link_to 'Bearbeiten', edit_project_path(@project) %> |
<%= link_to 'Zur&uuml;ck', projects_path %>
