<div class="title">
  <h1>Dein Profil</h1>
</div>

<div class="content">
  <table>
    <tr>
      <td class="content_title"><%= label_tag :login %>:</td>
      <td class="content_value"><%= @user.login %></td>
    </tr>
    <tr>
      <td class="content_title"><%= label_tag :login %>:</td>
      <td class="content_value"><%= @user.login %></td>
    </tr>
    <tr>
      <td class="content_title"><%= label_tag :login %>:</td>
      <td class="content_value"><%= @user.login %></td>
    </tr>                                              
    <tr>                                               
      <td class="content_title"><%= label_tag :login %>:</td>
      <td class="content_value"><%= @user.login %></td>
    </tr>                                              
    <tr>                                               
      <td class="content_title"><%= label_tag :login %>:</td>
      <td class="content_value"><%= @user.login %></td>
    </tr>
  </table>
</div>