<% form_for(@worktime, :url => project_worktimes_path(@project)) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :project, "Projekt" %><br/>
    <strong><%= @worktime.project.name %></strong>
  </p>
  <p>
    <%= f.label :tasks, "Aufgaben" %><br />
    <% Task.all.each do |task| %>
    	<%= f.check_box_tag "worktime[task_ids][]", task.id, @worktime.tasks.include?(task) %>
    	<%= task.name %>
    <% end %>
  </p>
  <p>
    <%= f.label :start_time, "Startzeit" %><br />
    <%= f.datetime_select :start_time, :order => [:day, :month, :year], :use_month_names => german_months, :default => 1.hour.ago %>
  </p>
  <p>
    <%= f.label :length, "Dauer" %><br />
    <%= collection_select(:worktime, :length , work_hours, :to_f, :to_s) %> h
  </p>
  <p>
    <%= f.label :end_time, "Endzeit" %><br />
    <%= f.datetime_select :end_time, :order => [:day, :month, :year], :use_month_names => german_months %>
  </p>
  <p>
    <%= f.label :comment, "Kommentar / Beschreibung" %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= icon_tag 'disk' %> <%= f.submit "Speichern" %>
  </p>
<% end %>
