<div class="subtitle">
  <h2>
    <%= t('worktime.worktimes_for') -%> '<%= @project.name %>'
  </h2>
</div>

<div class="action_links">
  <%= link_to_remote "#{icon_tag('clock_add')} #{t('worktime.new')}",
    :url => new_project_worktime_path(:project_id => @project.id),
    :method => :get, 
    :html => { :id => "add_worktime_link", :title => t('worktime.add'), :class => "action_link" } 
  %>
  <span id="play_pause_button">
    <%= play_pause_button_remote(@project) %>
  </span>
</div>

<%= edit_form_container_for(:worktime, :add) %>
