<div class="title">
  <h1>
    Alle Arbeitszeiten
  </h1>
</div>

<select id="project_selection" onChange="load_worktimes()">
  <% Project.sorted.each do |project| %>
    <option value="<%= project.id -%>"><%= project.name -%></option>
  <% end %>
</select>

<br>
<br>
<div id="worktime_listings">
  <% Project.sorted.each do |project| %>

    <% display = project == Project.sorted.first ? "style='display:none'" : "" %>
    <div id="worktimes_project_<%=project.id -%>" class="worktimes_project_listing" <%= display -%>>
      <div class="subtitle">
	<strong>Arbeitszeiten für Projekt: <%= project.name %></strong>
      </div>
      <%= render :partial => "worktimes_list", :locals => {:worktimes => project.worktimes, :project => project} %>
    </div>
  <% end %>
</div>
<br />
