<div class="title">
  <h1>Arbeitszeiten</h1>
</div>

<div class="sub_menu">
  <%= link_to 'Neue Arbeitszeit eintragen', new_worktime_path %>
</div>

<div class="content_table">
  <table>
    <tr>
      <th>Beschreibung</th>
      <th>Mitarbeiter</th>
      <th>Startzeit</th>
      <th>Endzeit</th>
      <th>Dauer</th>
    </tr>

  <% for worktime in @worktimes %>
    <tr>
      <td><%= link_to h(worktime.comment), worktime %></td>
      <td><%= link_to h(worktime.user.name), worktime.user %></td>
      <td><%=h worktime.start_time %></td>
      <td><%=h worktime.end_time %></td>
      <td><%=h worktime.length %> h</td>
      <td><%= link_to 'Bearbeiten', edit_worktime_path(worktime) %></td>
      <td><%= link_to 'L&ouml;schen', worktime, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>

<br />