<div class="title">
  <h1>Arbeitszeiten</h1>
</div>

<div class="sub_menu">
  <%= link_to 'Neue Arbeitszeit eintragen', new_worktime_path %>
</div>

<div class="content_table">
  <table>
    <tr>
      <th><%= icon_tag 'note' %> Beschreibung</th>
      <th><%= icon_tag 'table' %> Aufgaben</th>
      <th><%= icon_tag 'group' %> Mitarbeiter</th>
      <th><%= icon_tag 'clock_play' %> Startzeit</th>
      <th><%= icon_tag 'clock_stop' %> Endzeit</th>
      <th><%= icon_tag 'time' %> Dauer</th>
    </tr>

  <% for worktime in @worktimes %>
    <tr>
      <td><%= link_to h(worktime.comment.words(10)), worktime %></td>
      <td><%= worktime.tasks.collect{|t| link_to h(t.name), t}.join(",<br>") %></td>
      <td><%= link_to h(worktime.user.name), worktime.user %></td>
      <td><%=h worktime.start_time %></td>
      <td><%=h worktime.end_time %></td>
      <td><%=h worktime.length %> h</td>
      <td><%= link_to icon_tag('clock_edit'), edit_worktime_path(worktime) %></td>
      <td><%= link_to icon_tag('delete'), worktime, :confirm => "Sind Sie sicher, dass Sie die Arbeitszeit ('#{worktime.comment.words(3)}') löschen wollen?", :method => :delete %></td>
    </tr>
  <% end %>
    <tr class="totals">
      <td>SUMME</td>
      <td></td>
      <td><%= User.all.collect{|u| "#{u.short_name}: #{u.worktimes.size}"}.join("<br/>") %></td>
      <td></td>
      <td></td>
      <td><%=h @worktimes.sum{|wt| wt.length} %> h</td>
    </tr>
  </table>
</div>

<br />
