<p>
  <b>Mitarbeiter:</b>
  <%=h @worktime.user.name %>
</p>

<p>
  <b>Startzeit:</b>
  <%=h @worktime.start_time %>
</p>

<p>
  <b>Endzeit:</b>
  <%=h @worktime.end_time %>
</p>

<p>
  <b>Dauer:</b>
  <%=h @worktime.length %> h
</p>

<p>
  <b>Comment:</b>
  <%=h @worktime.comment %>
</p>


<%= link_to 'Edit', edit_worktime_path(@worktime) %> |
<%= link_to 'Back', worktimes_path %>
