<div class="title">
  <h1>Arbeitszeit-Informationen</h1>
</div>

<p>
  <b>Mitarbeiter:</b>
  <%= link_to h(@worktime.user.name), @worktime.user %>
</p>

<p>
  <b>Startzeit:</b>
  <%=h @worktime.start_time %>
</p>

<p>
  <b>Endzeit:</b>
  <%=h @worktime.end_time %>
</p>

<p>
  <b>Dauer:</b>
  <%=h @worktime.length %> h
</p>

<p>
  <b>Comment:</b>
  <%=h @worktime.comment %>
</p>

<%= link_to 'Bearbeiten', edit_project_worktime_path(@worktime.project, @worktime) %> |
<%= link_to 'Zur&uuml;ck', :back %>
