<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ProjectManager <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'table' %>
  <%= stylesheet_link_tag 'forms' %>
</head>
<body>

<div class="menu">
  <%= menu_links %>
  <%= render :partial => "users/user_bar" %>
</div>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>

<%= yield  %>

<div class="footer">
  <center>
    &copy; 2008 Christopher Bertels, Waldemar Smirnow<br>
    Icons &copy; by Mark James (<a href="http://www.famfamfam.com" target="_blank">famfamfam.com</a>) 
  </center>
</div>
</body>
</html>
