<%= render :partial => "layouts/header" -%>

<% if current_project %>
  <div class="title">
    <h2>
      <%= t('words.project') -%>: 

      <%= project_selection_for :container_ids => nil, :templates => nil -%>
      
      <% if current_user.is_admin %>
        <%= link_to_remote icon_tag('layout_edit'),
                           :url => edit_project_path(current_project),
                           :method => :get,
                           :html => { :id => "edit_project_link", :title => t('project.edit') } %>
        <%= link_to icon_tag('delete'),
            current_project,
            :confirm => "#{t('project.delete_question')} \n '#{current_project.name}'",
            :method => :delete
        %>
      <% end %>
    </h2>
  </div>

  <%= edit_form_container_for(:project, :edit) %>

  <%= render :partial => "projects/sub_menu" %>
<% end %>

<%= yield  %>

<%= render :partial => "layouts/footer" -%>
