<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ProjectManager <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'table' %>
  <%= stylesheet_link_tag 'forms' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div class="menu">
  <%= menu_links %>
  <%= render :partial => "users/user_bar" %>
</div>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>

<% if current_project # nur falls projekt vorhanden und in db gespeichert %>
  <div class="title">
    <h1>
      Projekt: <%= link_to h(current_project.name), current_project %>
      <%= link_to icon_tag('layout_edit'), edit_project_path(current_project) %>
      <%= link_to icon_tag('delete'), current_project, :confirm => "Sind Sie sicher, dass Sie das Projekt '#{current_project.name}' löschen wollen?", :method => :delete %>
    </h1>  
  </div>
  
  <%= render :partial => "projects/sub_menu" %>
<% end %>

<%= yield  %>

<div class="footer">
  <center>
    &copy; 2008 Christopher Bertels, Waldemar Smirnow<br>
    Icons &copy; Mark James (<a href="http://www.famfamfam.com" target="_blank">famfamfam.com</a>) 
  </center>
</div>
</body>
</html>