<%= render :partial => "layouts/header" -%>

<% if current_project %>
  <div class="title">
    <h2>
      <%= t('words.project') -%>: 

      <%= project_selection_for :container_ids => ["project_sub_menu", "project_admin_buttons", "project_worktimes_data"], 
	                        :templates => ["projects/sub_menu", "projects/project_admin_buttons", "worktimes/project_worktimes_list"] -%>
      
      <%= render :partial => "projects/project_admin_buttons", :locals => {:project => current_project} -%>
    </h2>
  </div>

  <%= edit_form_container_for(:project, :edit) %>

  <div id="project_sub_menu">
    <%= render :partial => "projects/sub_menu", :object => current_project %>
  </div>
<% end %>

<div id="project_worktimes_data">
  <%= yield  %>
</div>

<%= render :partial => "layouts/footer" -%>
